/*-----buttons----*/
.btn-reset {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 0;padding: 0;
	border: 0;outline: none;
	background: none;
}

.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 12px 28px;
	min-height: 48px;
	text-align: center;
	color: #212121;
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	border: 0;outline: none;
	border-radius: 10px;
	background-color: var(--global-color);
	transition: .3s ease;
	&:hover {
		opacity: 0.9;
	}
	&.disabled {
		opacity: 0.4;
		cursor: auto;
	}
}

.btn-second {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 8px 28px;
	min-height: 38px;
	text-align: center;
	color: #7b7b7b;
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	border: 0;outline: none;
	border-radius: 10px;
	background-color: #2B2B2B;
	transition: .3s ease;
	&:hover {
		background-color: var(--global-color);
	}
	&.disabled {
		opacity: 0.4;
		cursor: auto;
	}
}

.btn-icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	position: relative;
	width: 40px;
	height: 40px;
	outline: none;
  border: 0;
  background: none;
	transition: .3s ease;
	cursor: pointer;
	z-index: 1;
  i {
    font-size: 30px;
    line-height: 1;
    color: var(--font-color);
		transition: .3s ease;
    &:hover {
      color: var(--global-color);
    }
  }
}