/*-----buttons----*/
.btn-reset {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 0;padding: 0;
	border: 0;outline: none;
	background: none;
}

.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 12px 28px;
	min-height: 48px;
	text-align: center;
	color: #212121;
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	border: 0;outline: none;
	border-radius: 10px;
	background-color: var(--global-color);
	transition: .3s ease;
	&:hover {
		opacity: 0.8;
	}
	&.disabled {
		opacity: 0.4;
		cursor: auto;
	}
}
.btn-black {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 12px 28px;
	min-height: 48px;
	text-align: center;
	color: #fff;
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	border: 0;outline: none;
	border-radius: 10px;
	background-color: #000;
	transition: .3s ease;
	&:hover {
		color: #fff;
		opacity: 0.8;
	}
	&.disabled {
		opacity: 0.4;
		cursor: auto;
	}
}

.btn-second {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 8px 28px;
	min-height: 38px;
	text-align: center;
	color: #7b7b7b;
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	border: 0;outline: none;
	border-radius: 10px;
	background-color: #2B2B2B;
	transition: .3s ease;
	&:hover {
		background-color: var(--global-color);
	}
	&.disabled {
		opacity: 0.4;
		cursor: auto;
	}
}

.btn-back {
	display: inline-flex;
	align-items: center;
	justify-content: flex-start;
	font-size: 30px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
	text-transform: uppercase;
	color: #212121;
	svg {
		margin-right: 20px;
		width: 13px;
		height: 26px;
	}
	&:hover {
		opacity: .8;
	}
}

.btn-share {
	display: inline-flex;
	align-items: center;
	justify-content: flex-start;
	font-size: 21px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	color: #212121;
	svg {
		margin-left: 16px;
	}
	&:hover {
		color: var(--global-color);
	}
}

@include tablet {
	.btn,
	.btn-black,
	.btn-second {
		padding: 10px 20px;
		min-height: 40px;
		font-size: 14px;
		line-height: 18px;
	}

	.btn-back {
		font-size: 20px;
		svg {
			margin-right: 12px;
			width: auto;
			height: 16px;
		}
	}
	
	.btn-share {
		font-size: 20px;
		svg {
			margin-left: 12px;
		}
	}
}

@include mobile {
	.btn-back {
		font-size: 17px;
		svg {
			height: 14px;
		}
	}
	.btn-share {
		font-size: 17px;
		svg {
			width: 40px;
			height: 40px;
		}
	}
}