/*-----footer-----*/
.footer {
	position: relative;
  padding-top: 40px;
  padding-bottom: 28px;
	width: 100%;
  background: #212121;
  &__top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 28px;
  }
  &__logo {
    flex-shrink: 0;
    margin-right: 28px;
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    text-align: right;
    flex-shrink: 0;
    margin-left: 28px;
    .phone {
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      color: #565656;
      &:hover {
        color: var(--global-color);
      }
    }
    .email {
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      color: #565656;
      &:hover {
        color: var(--global-color);
      }
    }
  }
  &__list {
    list-style: none;
    margin: 6px 0 0 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    li {
      margin: 8px 20px 8px 20px;
      a {
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: #565656;
        &:hover {
          color: var(--global-color);
        }
      }
    }
  }
  &__middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
    width: 100%;
    .address {
      margin-bottom: 40px;
      max-width: 460px;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      color: #565656;
      margin-right: 20px;
    }
    .btn-second {
      min-height: 48px;
    }
  }
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .socials {
    width: max-content;
    a {
      color: #565656;
      &:hover {
        color: var(--global-color);
      }
    }
  }
  &__link {
    margin-left: 20px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: right;
    color: #565656;
    &:hover {
      color: var(--global-color);
    }
  }
}