/*-----form-----*/
.form {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
  &-label {
		margin-top: 0;
    margin-bottom: 12px;
    display: block;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    color: var(--font-color);
  }
	&-group {
		position: relative;
		width: 100%;
		margin-top: 0;
		margin-bottom: 32px;
	}
	label {
		display: block;
	}
	&-input {
		width: 100%;
		height: 50px;
		padding: 15px 16px;
		font-weight: 400;
		font-size: 18px;
		line-height: 20px;
		color: var(--font-color);
		box-sizing: border-box;
		border-radius: 0;
		border: 0;outline: none;
		border-bottom: 1px solid #737373;
		background: transparent;
		transition: .3s ease;
	}
}

input[type="number"] {
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	display: none;
}