.swiper {
  max-width: 100%;
  width: 100%;
}
.swiper-slide {
  font-size: 18px;
  height: 100%;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* SWIPER SCROLLBAR */
.swiper-scrollbar.swiper-scrollbar-vertical, .swiper-vertical>.swiper-scrollbar {
  // padding: 8px 0;
  top: 12px;
  right: 14px;
  bottom: 12px;
  width: 18px;
  height: calc(100% - 24px);
  border-radius: 30px;
  background: rgba(245, 245, 245, 0.60);
  overflow: hidden;
}
.swiper-scrollbar-drag {
  top: 4px;
  bottom: 4px;
  margin: 0 auto;
  width: 10px;
  border-radius: 30px;
  background-color: #212121;
}

/* swiper-bullets styling */
.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  margin: 0 14px;
  background-color: #90CC31;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
  }
}


.swiper-button-prev,
.swiper-button-next {
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--global-color);
  &::after {
    content: '';
    font-size: 0;
    line-height: 0;
    width: 30px;
    height: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: color .3s ease;
  }
  &:hover {
    opacity: .8;
  }
  &.swiper-button-disabled {
    opacity: .5;
  }
}
.swiper-button-prev::after {
  margin-right: 3px;
  background-image: url('../img/chevron-left-white.svg');
}
.swiper-button-next::after {
  margin-left: 3px;
  background-image: url('../img/chevron-right-white.svg');
}

.swiper-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 20px;
  .swiper-button-prev,
  .swiper-button-next,
  .swiper-pagination {
    position: relative;
    top: auto;left: auto;right: auto;bottom: auto;
    margin-top: 0;
  }
}

@include tablet {
  .swiper-button-prev,
  .swiper-button-next {
    width: 40px;
    height: 40px;
    &::after {
      width: 20px;
      height: 20px;
    }
  }
  /* swiper-bullets styling */
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 0 6px;
  }
  .swiper-pagination-bullet-active {
    &:before {
      width: 5px;
      height: 5px;
    }
  }
}

@include mobile {
  .swiper-nav {
    gap: 12px;
  }
}