/*-----title----*/
.section-text {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.2;
	color: var(--font-color);
	&:not(:last-child) {
		margin-bottom: 1rem;
	}
	p {
		margin-top: 0;
		margin-bottom: 0;
		&:not(:last-child) {
			margin-bottom: 1rem;
		}
	}
}