.about {
  padding-top: 140px;
  padding-bottom: 140px;
  background-size: cover;
  background-repeat: no-repeat;
  .fp-overflow {
    height: 100%;
  }
  .custom-container {
    height: 100%;
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  &__benefits {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    width: 250px;
    margin-right: 110px;
  }
  &-benefit {
    &:not(:last-child) {
      margin-bottom: 60px;
    }
    span {
      display: inline-flex;
      justify-content: flex-end;
      padding: 5px 14px;
      margin-bottom: 8px;
      min-width: 160px;
      font-size: 36px;
      font-weight: 800;
      line-height: 1;
      text-align: right;
      text-transform: uppercase;
      color: #F1F1F1;
      border-radius: 10px;
      background-color: var(--global-color);
    }
  }
  &__info {
    padding: 28px 48px 32px 48px;
    width: 850px;
    border-radius: 20px;
    color: #ffffff;
    background: rgba(49, 49, 49, 0.8);
    box-shadow: 0px 4px 42px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    h2 {
      margin-top: 0;
      margin-bottom: 20px;
      font-size: 46px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      text-transform: uppercase;
    }
    p {
      font-size: 24px;
      font-weight: 400;
      line-height: 1.2;
      margin-bottom: 0;
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }
}

@media screen and (max-width: 1439px) {
  .about {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@include tablet {
  .about {
    padding-top: 80px;
    padding-bottom: 80px;
    &__benefits {
      width: calc(30% - 25px);
      margin-right: 50px;
    }
    &-benefit {
      &:not(:last-child) {
        margin-bottom: 28px;
      }
      span {
        padding: 4px 8px;
        min-width: 120px;
        font-size: 28px;
        border-radius: 6px;
      }
    }
    &__info {
      padding: 20px 20px 20px 24px;
      width: calc(70% - 25px);
      border-radius: 15px;
      h2 {
        margin-bottom: 16px;
        font-size: 36px;
      }
      p {
        font-size: 18px;
      }
    }
  }
}

@include mobile {
  .about {
    padding-top: 50px;
    padding-bottom: 50px;
    &__container {
      flex-direction: column-reverse;
    }
    &__benefits {
      width: 100%;
      margin-right: 0;
      align-items: flex-start;
      text-align: left;
    }
    &-benefit {
      text-align: left;
      justify-content: flex-start;
      align-items: flex-start;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
      span {
        min-width: 100px;
        justify-content: flex-start;
        font-size: 20px;
        text-align: left;
      }
      p {
        margin-bottom: 0;
      }
    }
    &__info {
      margin-bottom: 28px;
      padding: 16px;
      width: 100%;
      h2 {
        font-size: 24px;
      }
      p {
        font-size: 16px;
      }
    }
  }
}