.hero {
  padding-bottom: 40px;
  .fp-overflow {
    height: 100%;
  }
  .custom-container {
    height: 100%;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 40px 24px;
    width: 100%;
    min-height: 800px;
    height: 100%;
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__subtitle {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 32px;
    font-weight: 300;
    line-height: 1.3;
    text-align: center;
    color: #ffffff;
  }
  &__title {
    font-size: 44px;
    font-weight: 800;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    &-wrapper {
      display: flex;
      max-width: 830px;
      margin-bottom: 44px;
      padding: 12px 24px;
      border-radius: 20px;
      background: rgba(109, 109, 109, 0.40);
      backdrop-filter: blur(12px);
    }
  }
  &__decor {
    position: absolute;
    left: 80px;
    bottom: 60px;
    z-index: 0;
  }
  &__scrolldown {
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
  }
}

@include desktop {
  .hero {
    &__wrapper {
      min-height: 600px;
    }
    &__subtitle {
      margin-bottom: 16px;
      font-size: 26px;
    }
    &__title {
      font-size: 36px;
      &-wrapper {
        max-width: 700px;
        margin-bottom: 36px;
      }
    }
    &__decor {
      left: 30px;
      bottom: 30px;
      width: 280px;
    }
    &__scrolldown {
      bottom: 20px;
      width: 24px;
      height: 24px;
    }
  }
}

@include tablet {
  .hero {
    &__subtitle {
      font-size: 22px;
    }
    &__title {
      font-size: 32px;
      
    }
    &__decor {
      left: 10px;
      bottom: 16px;
      width: 180px;
    }
  }
}

@include mobile {
  .hero {
    &__wrapper {
      min-height: 400px;
      padding: 40px 10px;
    }
    &__subtitle {
      font-size: 18px;
    }
    &__title {
      font-size: 21px;
    }
    &__decor {
      width: 100px;
    }
  }
}

@media screen and (max-width: 359px) {
  .hero {
    &__title {
      font-size: 19px;
      &-wrapper {
        max-width: 100%;
        padding: 12px;
        border-radius: 12px;
      }
    }
  }
}