.page-projects {
  background: #212121;
}

.projects {
  &bl {
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 1px solid #353535;
    background: #212121;
  }
  &Swiper {
    padding-top: 30px;
    padding-bottom: 30px;
    .swiper-slide {
      border-radius: 20px;
      filter: blur(3.5px);
      &-active {
        box-shadow: 0px 4px 33px 0px rgba(0, 0, 0, 0.25);
        filter: blur(0);
      }
    }
    .swiper-nav {
      margin-top: 36px;
      justify-content: center;
      width: 100%;
    }
  }
  &-card {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    padding: 28px 24px;
    border-radius: 20px;
    z-index: 0;
    &__title {
      margin-top: 0;
      margin-bottom: 24px;
      font-size: 36px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      text-transform: uppercase;
      text-align: right;
      color: #fff;
    }
    &__descr {
      margin-top: 0;
      margin-bottom: 36px;
      font-size: 17px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      color: #C7C7C7;
    }
    .link-center {
      margin-top: auto;
    }
    &__blur {
      content: '';
      position: absolute;
      left: 0;top: 0;
      width: 100%;
      height: 100%;
      border-radius: 20px;
      background: rgba(0, 0, 0, .7);
      z-index: -1;
    }
    &__img {
      position: absolute;
      left: 0;top: 0;
      width: 100%;
      height: 100%;
      border-radius: 20px;
      object-fit: cover;
      z-index: -2;
    }
  }
}