.single-post {
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.article {
  padding-bottom: 32px;
  height: calc(100vh - 114px);
  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    &-col {
      &:nth-child(1) {
        width: calc(45% - 20px);
        margin-right: 40px;
      }
      &:nth-child(2) {
        width: calc(55% - 20px);
      }
    }
    h1 {
      font-size: 44px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      text-transform: uppercase;
      color: #000000;
      display: -webkit-box;
      max-width: 100%;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
    }
  }
  &__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
  &__img {
    width: calc(45% - 20px);
    height: 100%;
    max-height: max-content;
    margin-right: 40px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 20px;
    }
  }
  &__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: calc(55% - 20px);
    height: 100%;
    .btn-share {
      margin-top: 24px;
    }
  }
  &__content {
    overflow-y: auto;
    padding: 20px 48px 20px 24px;
    width: 100%;
    height: calc(100vh - 114px - 100px - 80px);
    max-width: 100%;
    border-radius: 20px;
    background-color: #ffffff;
    p {
      font-size: 21px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.3;
    }
  }
}

.singleSwiper {
  border-radius: 20px;
  height: calc(100vh - 114px - 100px - 80px);
  .swiper-slide {
    font-size: 20px;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px 80px 20px 24px;
    background: #ffffff;
    p {
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.4;
    }
  }
}

.p-article {
  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 100px;
  }
  &__left {
    width: calc(45% - 30px);
    display: flex;
    flex-direction: column;
    h1 {
      margin-top: 0;
      margin-bottom: 28px;
      font-size: 76px;
      font-style: normal;
      font-weight: 800;
      line-height: 1.2;
      text-transform: uppercase;
      color: #212121;
    }
    p {
      margin-top: 0;
      margin-bottom: 16px;
      font-size: 24px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      color: #212121;
    }
    .btns {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      margin-top: 36px;
      .btn {
        margin: 6px 0;
        &:not(:last-child) {
          margin-right: 36px;
        }
      }
    }
  }
  &__right {
    width: calc(55% - 30px);
  }
  &__info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 130px;
    .swiper {
      width: calc(60% - 20px);
      height: 530px;
    }
    &-right {
      width: calc(40% - 20px);
      text-align: right;
      h2 {
        margin-top: 0;
        margin-bottom: 40px;
        font-size: 76px;
        font-style: normal;
        font-weight: 800;
        line-height: 1.2;
        text-transform: uppercase;
        color: #212121;
        span {
          color: var(--global-color);
        }
      }
      .benefits {
        width: 90%;
        margin-left: auto;
        .benefit {
          width: calc(50% - 14px);
          &:nth-child(odd) {
            margin-right: 28px;
          }
        }
      }
    }
  }
}

.video {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 88 / 48;
  border-radius: 20px;
  transition: all .3s ease;
  z-index: 0;
  svg {
    position: absolute;
    top: 50%;left: 50%;
    transform: translate(-50%,-50%);
    transition: fill .3s ease;
    z-index: 1;
    path {
      transition: fill .3s ease;
    }
  }
  &-blur {
    content: '';
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.50);
    z-index: -1;
  }
  &-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    z-index: -2;
  }
  &:hover {
    svg path {
      fill: var(--global-color);
    }
  }
}

.benefits {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  text-align: right;
}
.benefit {
  margin-bottom: 28px;
  span {
    display: inline-flex;
    justify-content: flex-end;
    padding: 5px 14px;
    margin-bottom: 8px;
    min-width: 160px;
    font-size: 36px;
    font-weight: 800;
    line-height: 1;
    text-align: right;
    text-transform: uppercase;
    color: #F1F1F1;
    border-radius: 10px;
    background-color: var(--global-color);
  }
}

.projectSwiper {
  padding-bottom: 60px;
  margin-bottom: 100px;
  width: calc(100% - 220px);
  max-width: calc(100% - 220px);
  margin-left: 110px;
  margin-right: 110px;
  overflow-x: visible;
  .swiper-wrapper {
    overflow-x: hidden;
  }
  .swiper-button-prev {
    left: -110px !important;
  }
  .swiper-button-next {
    right: -110px !important;
  }
  .swiper-slide {
    a {
      aspect-ratio: 34 / 38;
      img {
        width: 100%;
        height: 100%;
        border-radius: 20px;
      }
    }
  }
}

@include tablet {
  .single-post {
    height: auto;
    max-height: none;
    overflow: auto;
  }
  .article {
    padding-bottom: 40px;
    height: auto;
    &__head {
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      &-col {
        &:nth-child(1) {
          width: 100%;
          margin: 8px 0 24px 0;
        }
        &:nth-child(2) {
          width: 100%;
        }
      }
      h1 {
        font-size: 36px;
        line-height: 1.2;
        display: inline-flex;
        overflow: visible;
      }
    }
    &__container {
      flex-direction: column-reverse;
      justify-content: flex-start;
      height: auto;
    }
    &__img {
      margin-top: 32px;
      width: 100%;
      height: auto;
      aspect-ratio: 1 / 1;
      margin-right: 0;
      max-height: none;
      img {
        border-radius: 15px;
      }
    }
    &__right {
      align-items: flex-start;
      width: 100%;
      height: 100%;
      .btn-share {
        margin-top: 20px;
        margin-left: auto;
      }
    }
  }
  
  .singleSwiper {
    border-radius: 15px;
    height: 100%;
    .swiper-slide {
      font-size: 17px;
      height: auto;
      padding: 20px;
      p {
        font-size: 17px;
      }
    }
  }
  
  // .p-article {
  //   &__container {
  //     display: flex;
  //     align-items: flex-start;
  //     justify-content: space-between;
  //     width: 100%;
  //     margin-bottom: 100px;
  //   }
  //   &__left {
  //     width: calc(45% - 30px);
  //     display: flex;
  //     flex-direction: column;
  //     h1 {
  //       margin-top: 0;
  //       margin-bottom: 28px;
  //       font-size: 76px;
  //       font-style: normal;
  //       font-weight: 800;
  //       line-height: 1.2;
  //       text-transform: uppercase;
  //       color: #212121;
  //     }
  //     p {
  //       margin-top: 0;
  //       margin-bottom: 16px;
  //       font-size: 24px;
  //       font-style: normal;
  //       font-weight: 300;
  //       line-height: normal;
  //       color: #212121;
  //     }
  //     .btns {
  //       display: flex;
  //       align-items: center;
  //       justify-content: flex-start;
  //       width: 100%;
  //       margin-top: 36px;
  //       .btn {
  //         margin: 6px 0;
  //         &:not(:last-child) {
  //           margin-right: 36px;
  //         }
  //       }
  //     }
  //   }
  //   &__right {
  //     width: calc(55% - 30px);
  //   }
  //   &__info {
  //     display: flex;
  //     justify-content: space-between;
  //     width: 100%;
  //     margin-bottom: 130px;
  //     .swiper {
  //       width: calc(60% - 20px);
  //       height: 530px;
  //     }
  //     &-right {
  //       width: calc(40% - 20px);
  //       text-align: right;
  //       h2 {
  //         margin-top: 0;
  //         margin-bottom: 40px;
  //         font-size: 76px;
  //         font-style: normal;
  //         font-weight: 800;
  //         line-height: 1.2;
  //         text-transform: uppercase;
  //         color: #212121;
  //         span {
  //           color: var(--global-color);
  //         }
  //       }
  //       .benefits {
  //         width: 90%;
  //         margin-left: auto;
  //         .benefit {
  //           width: calc(50% - 14px);
  //           &:nth-child(odd) {
  //             margin-right: 28px;
  //           }
  //         }
  //       }
  //     }
  //   }
  // }
  
  // .video {
  //   position: relative;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   width: 100%;
  //   aspect-ratio: 88 / 48;
  //   border-radius: 20px;
  //   transition: all .3s ease;
  //   z-index: 0;
  //   svg {
  //     position: absolute;
  //     top: 50%;left: 50%;
  //     transform: translate(-50%,-50%);
  //     transition: fill .3s ease;
  //     z-index: 1;
  //     path {
  //       transition: fill .3s ease;
  //     }
  //   }
  //   &-blur {
  //     content: '';
  //     position: absolute;
  //     top: 0;left: 0;
  //     width: 100%;
  //     height: 100%;
  //     border-radius: 20px;
  //     background: rgba(0, 0, 0, 0.50);
  //     z-index: -1;
  //   }
  //   &-img {
  //     width: 100%;
  //     height: 100%;
  //     object-fit: cover;
  //     border-radius: 20px;
  //     z-index: -2;
  //   }
  //   &:hover {
  //     svg path {
  //       fill: var(--global-color);
  //     }
  //   }
  // }
  
  // .benefits {
  //   display: flex;
  //   align-items: flex-start;
  //   flex-wrap: wrap;
  //   text-align: right;
  // }
  // .benefit {
  //   margin-bottom: 28px;
  //   span {
  //     display: inline-flex;
  //     justify-content: flex-end;
  //     padding: 5px 14px;
  //     margin-bottom: 8px;
  //     min-width: 160px;
  //     font-size: 36px;
  //     font-weight: 800;
  //     line-height: 1;
  //     text-align: right;
  //     text-transform: uppercase;
  //     color: #F1F1F1;
  //     border-radius: 10px;
  //     background-color: var(--global-color);
  //   }
  // }
  
  // .projectSwiper {
  //   padding-bottom: 60px;
  //   margin-bottom: 100px;
  //   width: calc(100% - 220px);
  //   max-width: calc(100% - 220px);
  //   margin-left: 110px;
  //   margin-right: 110px;
  //   overflow-x: visible;
  //   .swiper-wrapper {
  //     overflow-x: hidden;
  //   }
  //   .swiper-button-prev {
  //     left: -110px !important;
  //   }
  //   .swiper-button-next {
  //     right: -110px !important;
  //   }
  //   .swiper-slide {
  //     a {
  //       aspect-ratio: 34 / 38;
  //       img {
  //         width: 100%;
  //         height: 100%;
  //         border-radius: 20px;
  //       }
  //     }
  //   }
  // }
}

@include mobile {
  .article {
    &__head {
      h1 {
        font-size: 24px;
      }
    }
  }
  .singleSwiper {
    .swiper-slide {
      font-size: 16px;
      padding: 16px;
      p {
        font-size: 16px;
      }
    }
  }
}